<div class="content-buapps full-width">
  <div class="flex-between item-center ">
    <div class="buummer-r">
      <img src="assets/Images/static/buu1.png" class="full-width" alt="">
    </div>
    <div class="input font-12">
      <input type="text" class="full-height  border-not full-width" placeholder="Buscar">
      <div class="icon-input gradient-2  flex-around item-center white-text">
        <i class="fa fa-search " aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="margin-t-30">
    <img class="full-width" src="assets/Images/static/banner.png" alt="">
  </div>
</div>

