<div class="content-buapps full-width">
  <div class="flex-between item-center ">
    <div class="buummer-r">
      <img src="assets/Images/static/buu1.png" class="full-width" alt="">
    </div>
    <div class="input font-12">
      <input type="text" class="full-height  border-not full-width" placeholder="Buscar">
      <div class="icon-input gradient-2  flex-around item-center white-text">
        <i class="fa fa-search " aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="margin-t-30">
    <img class="full-width" src="assets/Images/static/banner.png" alt="">
  </div>
  <div class="margin-t-40">
    <div class="list-apps full-width">
      <div class="progres gradient-2"></div>
    </div>
  </div>
  <div class="margin-t-30">
    <div class="flex-between item-center font-16">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <div id="sliderBu" class="flex ov-hi">
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
        <div class="buapps font-13 white">
          <div class="title text-center">
            <span>Buapps 1</span>
            <div class="img-buapps center margin-t-15">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="descript center margin-t-15">
              <span>Loremp imsup</span>
            </div>
          </div>
        </div>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

