.content-buapps{
  .input{
    border-radius: 35px;
    background: #ffffff;
    height: 30px;
    width: 500px;
    padding-left: 10px;
    box-shadow: 0px 2px 11px 0px #bdbdbd;
    display: flex;
    overflow: hidden;

    .icon-input{
      width: 90px !important;
      border-radius: 35px;
    }
  }
  .buummer-r{
    width: 240px;
  }
  .list-apps{
    height: 3px;
    background:#bdbdbd;
  }

}

.progres{
  height: 100%;
}
#sliderBu{
  width: calc(100% - 70px);
}
.buapps{
  box-shadow: 0px 0px 11px 0px #bfbfbf6b;
  border-radius: 3px;
  padding: 30px 10px;
}
.img-buapps{
  width: 95px;
}
.content-b:nth-child(n+2){
  margin-left: 60px;
}
#cright i{
  cursor: pointer;
}
.content-b{
  width: 200px;
}
.badge-bu{
  width: 60px;
}
section > img:nth-child(n+2){
  margin-left: 5px;
}
