.logo{

  position: relative;
  top: 50px;
  width: 100px;
}
.content-list{
  position: relative;
  top: 110px;

}
.product{
  position: relative;
  top: 270px;
  line-height: 0;
  margin-bottom: 20px !important;
}
.product span:before,
.product span:after{
  content: "";
  position: absolute;
  /* height: 5px; */
  border-bottom: 2px solid white;
  /* border-top: 1px solid white; */
  top: 0;
  width: 55px;
}

span:before{
  right: 223px;

}
span:after{
  left: 223px;
}
.border-left{
  border-left: 4px solid white;
}
.margin-right{
  margin-right: 80px;
}
