<div class="gradient-v2">
  <div class="center logo">
    <img class="full-width" src="assets/Images/Icons/1x/logo-2.png" alt="">
  </div>
  <ul class="content-list">
    <li class="list white-text font-13">
      <img src="assets/Images/Icons/1x/logo-1.png" alt="">
      <span>Buuapps</span>
    </li>
    <li class="list white-text font-13">
      <img src="assets/Images/Icons/1x/applications.png" alt="">
      <span>Categorias</span>
    </li>
    <li class="list white-text font-13">
      <img src="assets/Images/Icons/1x/config.png" alt="">
      <span>Configuraciones</span>
    </li>
    <li class="list white-text font-13">
      <img src="assets/Images/Icons/1x/help.png" alt="">
    <span>Ayuda</span>
    </li>
    <li class="list white-text font-13">
      <img src="assets/Images/Icons/1x/files.png" alt="">
      <span>Terminos y condiciones</span>
    </li>
  </ul>
  <div class="product full-width font-13 white-text">
    <span class="text-center">Productos</span>
  </div>
</div>
